form {
    background-color: #264760;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

input,
select, textarea{
    display: block;
    margin: auto;
    
}

#select {
    display: flex;
    margin: auto;
    width: 250px;
}

input {
    width: 250px;
}

.error {
    color: red;
    /* font-size: 15px; */
    width: 250px;
    display: block;
    margin: auto;
}